<html lang="en">

<head>
    <title>Slack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Scripts -->
    <script src="static/js/autobahn.js"></script>
    <script src="static/js/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="route.js"></script>
    <script src="static/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="static/js/jQuery v3.4.1 .js"> </script>
    <script src="static/js/popper-min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.css">
    <link rel="stylesheet" href="assets/slack.css">
</head>

<body style="margin: 0;" ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <div class="row">
            <div style="width: 220px;height:136vh;background: #3F0E40; color:rgb(188,171,188);" class="side-row">
                <div class="col-md-12">
                    <div class="row" style="padding: 8px 16px 0 16px;">
                        <header class="prateek"
                            style="font-size: 18px;line-height: 1.33334;font-weight: 700;padding-right: 4px;cursor: pointer;" ng-click = "user2()">
                            Prudhvi
                        </header>
                        <span style="padding-top: 5px;"><i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                        <div class="col-md right-corner" style="display: flex;">
                            <div class="row">
                                <i class="fa fa-bell-o" aria-hidden="true" style="padding-top: 5px;"></i> </i>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0px 16px 40px 16px;">
                        <span class="prateek-rana" ng-click = "user()"><i class="fa fa-circle" aria-hidden="true"
                                style="font-size: 10px;color: #2BAC76;;padding-right: 5px;"></i>Prudhvi</span>
                    </div>

                    <!-- 2nd Phase -->
                    <div class="row white-hover" style="padding: 8px 16px 0 16px;">
                         <header
                            style="font-size: 18px;line-height: 1.33334;font-weight: 600;padding-right: 4px;">
                            <a href="" style="color: white;text-decoration: none;">Channels</a>
                        </header>
                        <div class="col-md right-corner" style="display: flex;">
                            <div class="row">
                                <i id="plus-button" class="fa fa-plus-circle " aria-hidden="true" style="padding-top: 5px;"></i> </i>
                            </div>
                        </div>
                    </div>

                    <!-- Channel Names -->
                    <div class="channels" style="padding-bottom: 30px;">
                        <span class="hoverable" ng-repeat="x in data.channel"> <a href="" style="color: white;text-decoration: none;" ng-click="callme(x.channelName)"># {{x.name}}</a> <br></span>
                        <span ng-repeat="x in chAdd" ng-show = "invisible"><a href="" style="color: white;text-decoration: none;" ># {{x.name}}</a> <br></span>
                    </div>

                    <!-- Add a Channel -->

                    <div class="row white-hover" style="padding: 8px 16px 16px 16px;">
                        <header style="font-size: 16px;line-height: 1.33334;font-weight: 600;padding-right: 4px;">
                            <span>+</span> Add a Channel</a>
                        </header>
                    </div>

                    <!-- Direct Messages -->

                    <a href="#myModal"  data-toggle="modal" style="text-decoration: none;color: rgb(188,171,188);outline: none;">
                        <div class="row white-hover" style="padding: 8px 16px 0 16px;"  >
                            <header ng-click="dirMsg()"
                                style="font-size: 16px;line-height: 1.33334;font-weight: 700;padding-right: 4px;">
                                Direct Messages
                            </header>
                            <div class="col-md right-corner" style="display: flex;">
                                <div class="row">
                                    <i class="fa fa-plus-circle" aria-hidden="true" style="padding-top: 5px;"></i> </i>
                                </div>
                            </div>
                        </div>
                    </a>

                    <!-- MOdal Window Direct Message -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-full" role="document">
                            <div class="modal-content">

                                <div class="row" style="padding: 48px" onclick="green()">
                                    <div class="col-md-12" style="display: flex;justify-content: flex-end;" >
                                        <button id="green" type="button" class="close" data-dismiss="modal" aria-label="Close" style="height: 70px;width: 70px;border: 1px solid transparent;padding: 10px;border-radius: 50%;">
                                        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true" style="color: rgba(0, 0, 0, 0.925);font-size: 40px;"></i>
                                            <span style="font-size: 14px;position: relative;top: -10;">Esc</span>
                                        </span>
                                    </button>
                                    </div>
                                </div>

                                <div class="row" style="display: flex;justify-content: center;color: black;">
                                    <div class="col-md-4 col-sm-8">
                                     <h2 style="font-weight: 600;">Direct Messages </h2>
                                     <div>
                                         <input type="text" class="modal-input" placeholder="Find or start convo.." style="width: 86%;padding: 6px;outline: none;margin-right: 10px;" ng-model = "searchText">
                                         <span style="padding: 12px 25px;outline: none;background-color: rgba(128, 128, 128, 0.445);border-radius: 5px;cursor: pointer;"> Go</span>
                                     </div>
                                     <div style="padding-top: 19px;width: 100%;border-bottom: 1px solid rgba(0, 0, 0, 0.185);">
                                         <span style="font-size: 15px;color: rgba(75, 74, 74, 0.726);">Recent Conversations </span>
                                     </div>
                                     <div style="width: 100%;border-bottom: 1px solid rgba(0, 0, 0, 0.185);" class="model-div" ng-repeat = "user in dMsg | filter:searchText">
                                        <div style="padding: 15px 0;" >
                                          <img ng-src="{{user.image}}" width="40px" height="40px" style="border-radius: 4px;">
                                           <span style="padding-left: 10px;font-size: 18px;">{{user.name}}
                                           </span><span><i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;color: green;position: relative;top: -2;"></i></span>

                                        </div>
                                     </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MOdal window closes -->

                    <div ng-repeat="x in data.dMsg">
                        <div class="row hoverable " style="padding: 8px 16px 0 16px;">
                            <header style="font-size: 15px;line-height: 1.33334;font-weight: 500;padding-right: 4px;">
                                <span style="padding-right: 6px;color: #2BAC76;;"><i class="fa fa-heart" aria-hidden="true"
                                        style="font-size: 12px;"></i></span>{{x.name}}
                            </header>
                            <div class="col-md right-corner" style="display: flex;">
                                <div class="row">
                                    <a href="#"><span class="badge"
                                            style="background: rgba(255, 0, 0, 0.774);color: white;width: 25px;border-radius: 8px;">{{x.notificationCount}}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Invite People -->

                    <div class="row white-hover" style="padding: 8px 16px 16px 16px;">
                        <header style="font-size: 16px;line-height: 1.33334;font-weight: 500;padding-right: 4px;">
                            <span>+</span> Invite People
                        </header>
                    </div>



                    <!-- Apps Header -->

                    <div class="row white-hover" style="padding: 8px 16px 0 16px;">
                        <header ng-click="application()"
                            style="font-size: 16px;line-height: 1.33334;font-weight: 700;padding-right: 4px;">
                            Apps
                        </header>
                        <div class="col-md right-corner" style="display: flex;">
                            <div class="row">
                                <i class="fa fa-plus-circle" aria-hidden="true" style="padding-top: 5px;"></i> </i>
                            </div>
                        </div>
                    </div>

                    <!-- Apps - Content -->

                    <div class="row" style="padding: 8px 16px 0 16px;">
                        <header style="font-size: 15px;line-height: 1.33334;font-weight: 500;padding-right: 4px;"
                            class="hoverable">
                            <div ng-repeat="x in data.apps" style="padding-bottom: 4px;"><i class="fa fa-circle"
                                    aria-hidden="true" style="font-size: 12px;color: rgb(60, 212, 111);"></i> {{x.name}} <br>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-md col-lg" style="overflow: hidden;">
                <div class="row"
                    style="height: 60px;background: #FFFFFF;border-bottom: 1px solid rgba(0, 0, 0, 0.13); padding: 0 22px 0 22px;border-right: 1px solid rgba(0, 0, 0, 0.192);">
                    <div class="col-md-3 col-sm-5">
                        <div style="padding: 3px 0;">
                            <div class="row message-header"><span
                                    style="color: black;font-weight: 600;font-size: 22px;padding: 9px 0 0px 0;">{{mainChat}}</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-7 top-search-container">
                        <div class="row">
                            <div style="padding: 12px 0 0px 0;font-size: 21px; cursor: pointer;">

                                <input class="search-box" type="text"
                                    style="padding: 0px;border-radius: 5px;border: 1px solid rgba(0, 0, 0, 0.274);width:300px ;"
                                    placeholder=" &nbsp; Search..">
                                <span>
                                  <i class="fa fa-ellipsis-v" style="padding-left: 10px;" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row " >
                    <div class="col-md-7" style="padding: 15px 22px 0 22px;display: flex;height: 828px;overflow-y: scroll;overflow-x:hidden" >

                    <!-- Ui View -->

                            <!-- <div ui-view>

                                </div> -->

                                  <div class="row" id="Receiver" class="controller" >

                                    <div class="div text-area" ng-repeat="a in data.mglist track by $index" style="width: 100%;display: flex;padding: 15px 22px 0 22px;">
                                        <div >
                                            <img class="image-chatbox" ng-src="{{a.image}}" alt="" width="50px" height="50px">
                                        </div>
                                        <div style="padding-left: 10px;">
                                            <div>
                                                <header style="font-weight: 700; color: black; font-size: inherit;">{{a.mainName1}}<span
                                                        style="color: rgba(0, 0, 0, 0.288); font-size: 12px;font-weight: 500;letter-spacing: 1px;margin-left: 2px;">
                                                        {{CurrentDate | date:'HH:mm'}}</span></header>
                                            </div>
                                             <!-- Text -->
                                    <div style="padding-bottom: 18px;">
                                        <div ng-if = "a.message != ' '">
                                            <div style="font-weight: 600;font-size: 14px;color: grey;">
                                                {{ a.message }} </div>
                                        </div>
                                    </div>

                                     <!-- Image -->
                                  <div>
                                    <div ng-if = "a.type == 'image'" ng-click = "showOnSide()" style="cursor: pointer;">
                                        <img ng-src="{{a.attachment}}" alt="" width="290px" height="190px"
                                        style="border-radius: 5px;">
                                    </div>
                                  </div>

                                    <!-- Video -->
                                    <div  ng-if = "a.type == 'mp4'" style="border: 1px solid rgba(0, 0, 0, 0.137);">
                                       <div style="padding: 10px 15px 0 15px;">
                                        <span>
                                            <i class="fa fa-play-circle-o" aria-hidden="true" style="font-size: 42px;cursor: pointer;"></i>
                                        </span>
                                        <span style="position: relative;top: -10px;font-size: 18px;">
                                            Video Animal.mp4
                                        </span>
                                       </div>
                                        <div  style="padding: 20px 15px 15px 15px;">

                                            <video width="520px"  controls>
                                                <source src="{{a.attachment}}" type="video/mp4">
                                              </video>
                                        </div>

                                    </div>
                                    <!-- YTube Video -->
                                    <div  ng-if = "a.type == 'youtube'" style="border: 1px solid rgba(0, 0, 0, 0.137);">
                                        <div style="padding: 10px 15px 0 15px;">

                                             <a href="https://www.youtube.com/v/tgbNymZ7vqY" style="text-decoration: none;">https://www.youtube.com/v/tgbNymZ7vqY</a>

                                        </div>
                                         <div  style="padding: 18px 15px 15px 15px;">

                                            <object width="420" height="315"
                                            data="https://www.youtube.com/v/tgbNymZ7vqY">
                                            </object>
                                         </div>

                                     </div>

                                     <!-- audio -->

                                     <div  ng-if = "a.type == 'audio'" style="border: 1px solid rgba(0, 0, 0, 0.137);">
                                        <div style="padding: 10px 15px 0 15px;">
                                            <span>
                                                <i class="fa fa-music" aria-hidden="true" style="font-size: 32px;cursor: pointer;"></i>
                                            </span>
                                            <span style="position: relative;top: -7px;font-size: 18px;padding-left: 10px;">
                                                Audio.mp3
                                            </span>
                                           </div>
                                         <div  style="padding: 18px 15px 15px 15px;">

                                            <audio controls style="width: 520px;" style="padding: 12px;">
                                                <source src="{{a.attachment}}" type="audio/mp3">
                                            </audio>
                                         </div>

                                     </div>
                                     <!-- PDF -->

                                     <div  ng-if = "a.type == 'docs'" style="border: 1px solid rgba(0, 0, 0, 0.137);" >
                                        <div style="padding: 10px 15px 0 15px;">
                                            <span>
                                                <i class="fa fa-file-pdf-o" aria-hidden="true" style="font-size: 32px;cursor: pointer;" ng-click = "showOnSideDocs()"></i>
                                            </span>
                                            <span style="position: relative;top: -7px;font-size: 18px;padding-left: 10px;">
                                                File-1.pdf
                                            </span>
                                           </div>
                                         <div  style="padding: 18px 15px 15px 15px;">

                                            <embed src="{{a.attachment}}" width="320px" height="210px" />
                                         </div>
                                     </div>
                                        </div>

                                    </div>
                                </div>
                    </div>
                    <!--------------------------------------------------------------------- side Row -------------------------------------------------- -->
                    <div class="col-md-5">
                        <div class="row" style="height: 828px;overflow-y: scroll;overflow-x:hidden ">

                        </div>
                    </div>

                </div>

                <div class="row "
                    style="padding: 15px 22px 0 22px;display: flex;align-content: flex-end;" class="controller">


                    <button ng-click="clickMe(model.message)" id="notify" style=" border-radius: 3px; border: none;background: none;width:5%;
                             border-bottom: 1px solid rgba(0, 0, 0, 0.144);
                            border-top: 1px solid rgba(0, 0, 0, 0.144);
                            border-left: 1px solid rgba(0, 0, 0, 0.144);">

                            <i class="fa fa-plus" style="font-size: 24px;"></i>

                    </button>
                    <textarea placeholder="Message #random" id="textArea" ng-model="model.message"></textarea>

                </div>

            </div>

        </div>

    </div>

    </div>
</div>

<script>
const notifier = require('node-notifier')
const path = require('path');

document.getElementById('notify').onclick = (event) => {
    notifier.notify({
            title: 'Electron',
            message: 'Details Submittrd Succesfully!',
            icon: path.join('', 'resources/notification.jpg'),
            sound: true,
            wait: true
        },
        function (err, response) {
            // Response is response from notification
        });

    notifier.on('click', function (notifierObject, options) {
        console.log("You clicked on the notification")
    });

    notifier.on('timeout', function (notifierObject, options) {
        console.log("Notification timed out!")
    });
}</script>



</body>

</html>
